* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
}

body::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
  background-color: #1976d2;
}

.slider-wrapper .slider {
  align-items: center;
}
.slider-wrapper .slider .slide {
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.carousel.carousel-slider .control-arrow {
  height: 50px;
  margin: auto;
  background-color: rgba(0, 0, 0, 1);
}